{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cake Shop</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light-subtle">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 text-danger" href="#">Cakery&Bakery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end pe-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="add_cake/">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer class="bg-danger d-flex justify-content-between p-4 mt-5">
    <p class="text-light">Copyright HCI 2025</p>
    <ul class="list-unstyled d-flex">
        <li class="text-light">Privacy</li>
        <li class="mx-3 text-light">Terms</li>
        <li class="text-light">add</li>
    </ul>
</footer>

</body>
</html>