{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row align-items-center">
        <div class="col-6 text-center">
            <h1 class="fw-bold">EDIT: {{ estate.name }}</h1>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img src="{{ estate.image.url }}" alt="house img">
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark w-100">Save</button>
        </form>
    </div>
{% endblock %}